/* Corps global */
body {
    padding-bottom: 150px;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f0f8ff; /* Soft pastel blue */
    color: #4b6a8e; /* Soft blue-gray for contrast */
}

/* Header */
header {
    background: linear-gradient(90deg, #a3c9d9, #d6a5d6);
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 2px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


header h1 {
    margin: 0;
    font-size: 3rem;
    letter-spacing: 1.5px;
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 1rem 0 0;
}

nav ul li {
    margin: 0 1.5rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s, text-shadow 0.3s;
}

nav ul li a:hover {
    color: #a2d9ce;
    text-shadow: 0 0 10px #a2d9ce;
}

/* Section principale */
main {
    padding: 2rem;
    text-align: center;
}

h1, h2 {
    margin: 0;
    padding: 0.5rem 0;
}

main h2 {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    color: #6c7582; /* Gris-vert doux */
}

main p {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.1rem;
    color: #555;
    line-height: 1.8;
}
.buttons-container {
    margin-top: 20px;
}

.button {
    display: inline-block; 
    padding: 10px 20px;
    margin-right: 10px;
    background-color:blueviolet;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

/* About Me Section */
#about-me {
    padding: 20px;
    text-align: left;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.about-image {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.about-content {
    flex: 1;
    line-height: 1.6;
    color: #333;
}

/* Social Icons */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s;
}

.social-icons a:hover {
    background-color: #a2d9ce;
    transform: scale(1.1);
}

.social-icons a img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

/* Sections supplémentaires */
.diploma, .skill-category, #internships, #professional-experiences {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.diploma h3, .skill-category h3, .experience h3 {
    color: #4b6a8e;
    margin-bottom: 1rem;
}

.skill-category ul {
    list-style: none;
    padding: 0;
    color: #555;
}

.skill-category {
    margin: 2rem auto;
    max-width: 900px;
    text-align: left;
}

.skill-category h3 {
    margin-bottom: 1rem;
    color: #333;
}

.skill-category li {
    margin: 1rem 0;
}

.skill-category img {
    max-width: 200px;
    height: auto;
    margin-top: 0.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Table Styling */
.table-container {
    overflow-x: auto;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

.table-container th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

.table-container th {
    background-color: #f4f4f4;
}

.table-container img {
    max-width: 50px;
    height: auto;
    display: block;
    margin: 5px 0;
}

/* Footer */
footer {
    background-color: #4b6a8e;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 2rem;
    font-size: 0.9rem;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none; font-size: 24px;
    
}


/* Contact Form */
#contact-form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contact-form div {
    margin-bottom: 1rem;
}

#contact-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

#contact-form input, #contact-form textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#contact-form button {
    background-color: #4b6a8e;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

#contact-form button:hover {
    background-color: #3a4d67;
}

/* Matières Section */
#matieres {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;

}

.category-matiere {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.category-matiere h2 {
    color: #4b6a8e;
    margin-bottom: 1rem;
    font-size: 20PX;
   
}


.category-matiere:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Passion Section */
#passions {
    display: flex;
    flex-wrap: wrap; /* Permet aux images de passer à la ligne si nécessaire */
    gap: 20px; /* Espacement entre les éléments */
    padding: 50px 20px;
    color: #4b6a8e;
    background-color: #fff; /* Fond blanc */
    border-radius: 20px; /* Coins arrondis */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
    justify-content: center; /* Centre les images horizontalement */
    align-items: flex-start; /* Aligne les images en haut de chaque ligne */
    max-width: 1000px; /* Limite la largeur */
    margin: 30px auto; /* Centre le conteneur sur la page */
    text-align: center;
}

#passions h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    width: 100%; /* H2 prend toute la largeur pour rester au-dessus des images */
    text-align: center; /* Centrage du texte */
}

#passions img {
    width: 100%;
    max-width: 300px; /* Limite la taille maximale des images */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation au survol */
}

#passions img:hover {
    transform: scale(1.05); /* Agrandit légèrement l'image au survol */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Accentue l'ombre */
}

#passions .passion-description {
    font-size: 1.1rem;
    line-height: 1.6;
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .event {
        flex-direction: column;
        text-align: center;
        
    }

    .event table {
        width: 90%;
        margin: 2rem auto;
        border-collapse: collapse;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

    .event thead {
        background-color: #007BFF;
        color: white;
    }

    .event thead th {
        padding: 1rem;
        text-align: left;
    }

    .event tbody tr {
        border-bottom: 1px solid #ddd;
    }

    .event-text {
        margin-bottom: 1rem;
    }

    .event img {
        max-width: 100%;
    }
}

.quiz-container {
    background-color: #fff; /* Fond blanc */
    border-radius: 20px; /* Coins arrondis */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
    padding: 20px;
    justify-content: center; /* Center horizontally */
    align-items: center;  
    max-width: 1000px;
    margin: 0 auto; /* Center horizontally */
    width: 100%; /* Ajustement responsive */
    text-align: center;
}

.question {
    text-align: center;
    margin-bottom: 20px;
    padding: 12px;
    border-bottom: 1px solid #eee;
}

.question label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}

.question button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: linear-gradient(90deg, #a3c9d9, #d6a5d6);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.question button:hover {
    background-color: #45a049;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}

#result {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 18px;
    line-height: 1.6;
}

#result  ul {
    margin: 0;
    padding: 0;
    list-style-type: disc;
    padding-left: 20px;
}

#result  ul li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}
#testimonial {
    padding: 10px;
    background-color: #ffffff;
    margin: auto;
    width: 80%;
    max-width: 800px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#testimonial h2 {
    color: #344955;
    text-align: center;
    margin-bottom: 1em;
}

#testimonial p {
    margin-bottom: 20px; /* Corrects the margin property syntax and sets spacing below the paragraph */
    text-align: justify; /* Justifies the text for a cleaner appearance */
    line-height: 1.8; /* Improves readability with balanced spacing between lines */
    padding: 0 10px; /* Adds horizontal padding for better text spacing within its container */
}
/* General Image Styles */
img {
    display: block;
    margin: 1em auto; /* Centers the images horizontally */
    border-radius: 10px; /* Adds rounded corners */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effects */
}

/* Hover Effects */
/* Centering Images in the Section */
#testimonial img {
    display: block; /* Ensures the image behaves like a block element */
    margin: 1em auto; /* Centers the image horizontally */
    border-radius: 10px; /* Adds rounded corners */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Adds shadow for depth */
    max-width: 100%; /* Ensures image does not exceed the container width */
    height: auto; /* Maintains the image's aspect ratio */
}

/* Optional: Hover Effects */
#testimonial img:hover {
    transform: scale(1.05); /* Adds a slight zoom effect */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */

}


